.container{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto ;
    
}
.box{
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.box1{
   
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
  
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5{
   
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box9{
   
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box11{
  
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}